<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power BI Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f0f4f8;
        }

        .dashboard-container {
            width: 100%;
            height: 90vh;
            margin: 20px auto;
            padding: 10px;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <h1>Dallas Restaurant Analysis Dashboard</h1>
    <div class="dashboard-container">
        <iframe 
            src="https://app.powerbi.com/reportEmbed?reportId=c74ce809-324e-4195-b3df-8df44403edc0&autoAuth=true&ctid=5cdc5b43-d7be-4caa-8173-729e3b0a62d9" 
            allowFullScreen="true">
        </iframe>
    </div>
</body>
</html>
